*{
    box-sizing: border-box;
}

body{
    margin: 0px;
}

.container{
    border: 2px purple solid;
    float: left;
    width: 40vw;
    height: 150px;
    color: purple;
}

section{
    width: 60vw;
    float: right;
    border: 2px solid yellow;
    padding: 10px;
}

.lorem{
    background-color: rgb(250, 175, 247);
    color: purple;
}

footer{
    clear: both;
    width: 100vw;
    text-align: center;
    margin-top: 10px;
    border: 2px solid green;
    padding: 10px;
    padding-bottom: 20px;  
}
