*{
    box-sizing: border-box;
}

body{
    height: 100vh;
}

.square{
    width: 240px;
    height: 240px;
}

.square:first-child{
    background-color: yellow;
    position: relative;
    top: 360px;
    left: 50%;
    z-index: 2;
}

.square:nth-child(2){
    background-color: blue ;
    position: absolute;
    top: 240px;
    left: 40%;
    z-index: 1;
}

.square:nth-child(3){
    background-color: green;
    position: absolute;
    top: 480px;
    left: 60%;
    z-index: 3;
}